<html>
  <body>
    <h2 style="color: #4caf50">Hello, {{ name }}! 👋</h2>
    <p style="color: #000; font-size: 20px; font-weight: bold">
      Welcome to AI SmartPDFSearchSystem. We are excited to have you on board!
    </p>
    <p style="color: #000; font-size: 18px;">
      We are sending you mail for verification.<br />
      Verify this code in Verification Form with your email address
    </p>
     <strong style="color: #ef9f0b; font-weight: bold; font-size: 40px; font-family: 'Times New Roman', Times, serif; font-style: italic;">{{code}}</strong>
    <p>Best Regards,</p>
    <p><strong style="color: #272b2b; font-weight: bold; font-family: 'Times New Roman', Times, serif; font-style: italic; font-size: 30px;">SmartPDFSearchSystem</strong></p>
  </body>
</html>
